*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

header, ul , button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

header{
    background-color: #323232;
    color: aqua;
    height: 100px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}

nav ul li a:hover{
    transition: 0.5s ease-in-out;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px 20px;
}

button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgba(25, 219, 113, 0.658);
    color: aliceblue;
}

.hobby-info{
    font-size: 5rem;
    text-align: center;
    color: burlywood;
    background-color: aliceblue;
}

.background2{
    width: 100%;
    overflow: hidden;
}

.background2 img{
    width: 300px;
}

.right-img{
    float: right;
    max-width: 50%;
    margin: 150px 200px;
    border-radius: 10px;
}

.intro-content{
    margin: 150px 200px;
    font-size: 3rem;
    color: cadetblue;
}

span{
    color: turquoise;
}

main{
    background-color: aquamarine;
    width: 100%;
}

.hobby{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}

.hobby #hobby1{
    width: 400px;
}

.hobby #hobby2{
    width: 400px;
    height: 225px;
}

.hobby #hobby3{
    width: 400px;
}

.hobby-text{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color: cadetblue;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.hobby{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.skills-info{
    font-size: 5rem;
    text-align: center;
    color: burlywood;
    background-color: aliceblue;
}

.skills{
    margin-left: 20px;
}

.skills #skill1{
    width: 400px;
    margin: 10px;
}

.skills #skill2{
    margin: 10px;
    width: 400px;
    height: 320px;
}

.skills #skill3{
    margin: 10px;
    width: 400px;
    height: 320px;
}